absl-py==2.3.1
aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiosignal==1.4.0
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.11.0
APScheduler==3.11.0
asttokens==3.0.0
async-timeout==5.0.1
attrs==25.3.0
audioread==3.0.1
babel==2.17.0
bce-python-sdk==0.9.46
blinker==1.9.0
bokeh==3.8.0
boltons==25.0.0
Bottleneck==1.6.0
braceexpand==0.1.7
cachetools==5.5.2
certifi==2025.8.3
cffi==1.17.1
charset-normalizer==3.4.3
click==8.2.1
colorama==0.4.6
coloredlogs==15.0.1
colorlog==6.10.1
contourpy==1.3.2
cycler==0.12.1
datasets==4.2.0
decorator==5.2.1
dill==0.3.4
discord.py==2.6.3
Distance==0.1.3
edge-tts==7.0.2
editdistance==0.8.1
einops==0.8.1
emoji==2.14.1
exceptiongroup==1.3.0
executing==2.2.1
fastapi==0.119.1
ffmpeg-python==0.2.0
ffmpy==0.6.3
filelock==3.20.0
Flask==3.1.2
flask-babel==4.0.0
flatbuffers==25.9.23
flatten-dict==0.4.2
fonttools==4.60.1
frozenlist==1.7.0
fsspec==2025.9.0
ftfy==6.3.1
future==1.0.0
g2p-en==2.1.0
g2pM==0.1.2.5
google-auth==2.40.3
google-auth-oauthlib==1.2.2
gspread==6.0.2
gspread_asyncio==2.0.0
h11==0.16.0
h5py==3.15.1
httpcore==1.0.9
httpx==0.28.1
huggingface-hub==0.35.3
humanfriendly==10.0
HyperPyYAML==1.2.2
idna==3.10
importlib_resources==6.5.2
inflect==7.5.0
intervaltree==3.1.0
ipython==8.37.0
itsdangerous==2.2.0
jedi==0.19.2
jieba==0.42.1
Jinja2==3.1.6
joblib==1.5.2
jsonlines==4.0.0
kaldiio==2.18.1
kiwisolver==1.4.9
lazy_loader==0.4
librosa==0.11.0
llvmlite==0.44.0
loguru==0.7.3
lxml==6.0.2
markdown-it-py==4.0.0
MarkupSafe==3.0.2
matplotlib==3.10.7
matplotlib-inline==0.1.7
mdurl==0.1.2
mido==1.3.3
mock==5.2.0
more-itertools==10.8.0
mpmath==1.3.0
msgpack==1.1.1
multidict==6.6.4
multiprocess==0.70.12.2
nara-wpe==0.0.11
narwhals==2.9.0
networkx==3.4.2
nltk==3.9.2
note-seq==0.0.3
numba==0.61.2
numpy==1.23.5
oauthlib==3.3.1
omegaconf==2.3.0
onnx==1.17.0
onnxruntime==1.23.1
OpenCC==1.1.9
opencc-python-reimplemented==0.1.7
opencv-python==4.6.0.66
opt-einsum==3.3.0
packaging==25.0
pandas==2.3.3
parameterized==0.9.0
parso==0.8.5
pathos==0.2.8
pattern_singleton==1.2.0
pillow==11.3.0
platformdirs==4.4.0
pooch==1.8.2
portalocker==3.2.0
pox==0.3.6
ppdiffusers==0.19.4
ppft==1.7.7
praatio==6.2.0
pretty_midi==0.2.11
prettytable==3.16.0
prompt_toolkit==3.0.52
propcache==0.3.2
protobuf==3.20.2
psutil==7.1.1
pure_eval==0.2.3
pyarrow==21.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.22
pycryptodome==3.23.0
pydantic==2.12.3
pydantic_core==2.41.4
pydub==0.25.1
Pygments==2.19.2
pyloudnorm==0.1.1
PyNaCl==1.5.0
pyparsing==3.2.5
pypinyin==0.55.0
pypinyin-dict==0.9.0
pyreadline3==3.5.4
python-dateutil==2.9.0.post0
pytz==2025.2
pywin32==311
pyworld==0.3.5
PyYAML==6.0.3
pyzmq==27.1.0
rarfile==4.2
regex==2025.9.1
requests==2.32.5
requests-mock==1.12.1
requests-oauthlib==2.0.0
resampy==0.4.3
rich==14.2.0
rsa==4.9.1
ruamel.yaml==0.18.15
ruamel.yaml.clib==0.2.14
sacrebleu==2.5.1
safetensors==0.6.2
scikit-learn==1.7.1
scipy==1.15.3
sentencepiece==0.2.1
seqeval==1.2.2
shellingham==1.5.4
six==1.17.0
sniffio==1.3.1
sortedcontainers==2.4.0
soundfile==0.13.1
soxr==0.5.0.post1
srt==3.5.3
stack-data==0.6.3
starlette==0.48.0
StrEnum==0.4.15
swig==4.3.1.post0
sympy==1.14.0
tabulate==0.9.0
TextGrid==1.6.1
threadpoolctl==3.6.0
timer==0.3.0
ToJyutping==3.2.0
tornado==6.5.2
tqdm==4.67.1
traitlets==5.14.3
trampoline==0.1.2
typeguard==4.4.4
typer==0.20.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.2
tzlocal==5.3.1
urllib3==1.26.20
uvicorn==0.38.0
visualdl==2.5.3
wcwidth==0.2.14
webrtcvad==2.0.10
websockets==15.0.1
Werkzeug==3.1.3
win32_setctime==1.2.0
xxhash==3.6.0
xyzservices==2025.4.0
yacs==0.1.8
yarl==1.20.1
zhon==2.1.1
